html, body {
	color: #5B636A;
	font: normal normal normal 14px/1.6 Arial, sans-serif;
}
body {
	color: #444;
	background: #1D468C url(../images/highlight-bg.png) 50% 46% no-repeat; 
	position: absolute; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0; 
	opacity: 1; 
	overflow-x:hidden;
}
#header {
	height: 35px; 
	background: black; 
	background: rgba(0, 0, 0, .9); 
	border-top: 3px solid black;  
	top: 0; 
	left: 0; 
	right: 0; 
	z-index: 45;
}
.hd-wrap {
	width: 982px;
	margin: 0 auto;
}
.top-area-full {
	position: absolute; 
	top:35;
	left:0;
	right:0;
	height:85px;
	-moz-box-shadow: inset 0px 0px 10px #000;
	-webkit-box-shadow: inset 0px 0px 10px #000;
	box-shadow: inset 0px 0px 10px #000;
	border-bottom: 1px solid white;
}
.center {
	width:980px;
	margin:auto;
}
.title {
	position:relative;
	top:0px;
}
.title h1{
	color:#FFF;
	margin:20px 20px 20px 0;
	padding-right:20px;
	font-size: 32px;
	font-weight: normal;
	border-right:#FFF thin solid;
}
.title h3{
	padding-top:32px;
	color:#FFF;
	font-size: 18px;
	font-weight: normal;
	opacity:0.8
}
.loader {
	padding-right: 20px;
	padding-top:4px;
}
.btn.sec {
	width:auto !important;
	background-color: #467BB7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#467BB7), to(#2D629E));
	background-image: -webkit-linear-gradient(top, #467BB7, #2D629E);
	background-image: -moz-linear-gradient(top, #467BB7, #2D629E);
	background-image: -ms-linear-gradient(top, #467BB7, #2D629E);
	background-image: -o-linear-gradient(top, #467BB7, #2D629E);
	background-image: linear-gradient(top, #467BB7, #2D629E);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#467bb7', EndColorStr='#2d629e');
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2), 0px 1px 0px rgba(255,255,255,.7);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2), 0px 1px 0px 	rgba(255,255,255,.7);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2), 0px 1px 0px rgba(255,255,255,.7);
	border: 1px solid #1D468C;
}
.btn.sec:active { 
	 color: #ecf1f6;
	 border: 1px solid #124475;
	 background-color: #497cae;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#497cae), to(#316496));
	 background-image: -webkit-linear-gradient(top, #497cae, #316496);
	 background-image: -moz-linear-gradient(top, #497cae, #316496);
	 background-image: -ms-linear-gradient(top, #497cae, #316496);
	 background-image: -o-linear-gradient(top, #497cae, #316496);
	 background-image: linear-gradient(top, #497cae, #316496);
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#497cae', EndColorStr='#316496');
	 -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2), 0px 1px 0px rgba(255,255,255,.5);
	 -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2), 0px 1px 0px rgba(255,255,255,.5);
	 box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.6), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2), 0px 1px 0px rgba(255,255,255,.5);
	 text-shadow: 0px -1px 0px black; 
}


.btn {
	color: white;
	font-size: 18px !important;
	text-shadow: 0 -1px 0 black;
	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	padding: 8px 30px !important;
	margin-left: 10px;
	width: 68px;
	text-align: center;
	cursor:pointer;
	outline: none !important; 
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Webkit-specific CSS here */
.btn {
	padding: 12px 30px !important;
}
}
.btn, input[type="button"].btn {
	margin: 0;
	font: normal normal bold 14px/14px Arial, sans-serif;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	text-decoration: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.left{
	float:left;
}
.right{
	float:right;
}
.signup{
	margin-top:2px !important;
}	
#box {
	position:relative;
	margin:auto;
	width:980px;
	background:#ebebeb url(../images/loginbg.gif) repeat-x;
	border:1px solid #d3d3d3;
}
#container {
	position:relative;
	top:25px;
	bottom:0px;
	min-height:400px;
	background-color:#F5F5F5;
	padding:20px 0;
	width:100%;
}
.hslide {
	 position: relative;
	 font-weight: bold;
	 border-radius: 0px;
	 width: 950px;
	 height: 75px;
	 padding: 10px 15px 0;
	 margin: 3% auto 0;
	 box-shadow: inset 0 1px 0 0 #fff;
	 text-shadow: 0px 1px 0px #fff;
	 border: 1px solid #ced8e3;
	 border-width: 1px 1px 0;
	 border-top-right-radius: 4px;
	 border-top-left-radius: 4px;
	 background-color: #e3e7ea;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#e3e7ea), to(#d4d8db));
	 background-image: -webkit-linear-gradient(top, #e3e7ea, #d4d8db);
	 background-image: -moz-linear-gradient(top, #e3e7ea, #d4d8db);
	 background-image: -ms-linear-gradient(top, #e3e7ea, #d4d8db);
	 background-image: -o-linear-gradient(top, #e3e7ea, #d4d8db);
	 background-image: linear-gradient(top, #e3e7ea, #d4d8db);
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e3e7ea', EndColorStr='#d4d8db');
}
 
 .fslide {
	 position: relative;
	 top:0px;
	 font-weight: bold;
	 border-radius: 0px;
	 width: 952px;
	 height: 75px;
	 padding: 28px 15px 0;
	 margin: 0 auto 130px;
	 text-shadow: 0px 1px 0px #fff;
	 box-shadow: inset 0 1px 0 0 #fff;
	 border: 1px solid #CED8E3;
	 border-width: 1px 0 0;
	 border-bottom-right-radius: 4px;
	 border-bottom-left-radius: 4px;
	 background-color: #E3E7EA;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#E3E7EA), to(#D4D8DB));
	 background-image: -webkit-linear-gradient(top, #E3E7EA, #D4D8DB);
	 background-image: -moz-linear-gradient(top, #E3E7EA, #D4D8DB);
	 background-image: -ms-linear-gradient(top, #E3E7EA, #D4D8DB);
	 background-image: -o-linear-gradient(top, #E3E7EA, #D4D8DB);
	 background-image: linear-gradient(top, #E3E7EA, #D4D8DB);
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e3e7ea', EndColorStr='#d4d8db');
}
 
 .hslide > span {
	 display: block;
	 float: left;
	 font-size: 24px;
	 margin: 13px 0 0 13px;
 }
 
 .progress_tracker {
	 height: 75px;
	 position: absolute;
	 left: 0;
	 top: 10px;
 }
.tooltip:before {
	content: "";
	font-size: 0px;
	line-height: 0%;
	width: 9px;
	height: 19px;
	position: absolute;
	left: -9px;
	top: 50%;
	margin: -9px 0 0;
	background: url(../images/tooltip-pointers-light.png) 0 center no-repeat;
}
 .tooltip {
	 display: none;
	 color: #3190D3;
	 position: absolute;
	 font-size: 12px;
	 -moz-border-radius: 3px;
	 -webkit-border-radius: 3px;
	 border-radius: 3px;
	 /* perceptual radius is 4px */ -moz-background-clip: padding;
	 -webkit-background-clip: padding-box;
	 background-clip: padding-box;
	 padding: 7px 9px;
 }
 .tooltip {
	 /*border: 1px solid #b1b8bf;*/ 
	 -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,.2), 0px 1px 3px 0 rgba(0,0,0,.1), inset 0 1px 0 0 #fff;
	 -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,.2), 0px 1px 3px 0 rgba(0,0,0,.1), inset 0 1px 0 0 #fff;
	 box-shadow: 0px 0px 0px 1px rgba(0,0,0,.2), 0px 1px 3px 0 rgba(0,0,0,.1), inset 0 1px 0 0 #fff;
	 background: #f5f9fc;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f9fc), to(#ebf0f5));
	 background-image: -webkit-linear-gradient(top, #f5f9fc, #ebf0f5);
	 background-image: -moz-linear-gradient(top, #f5f9fc, #ebf0f5);
	 background-image: -ms-linear-gradient(top, #f5f9fc, #ebf0f5);
	 background-image: -o-linear-gradient(top, #f5f9fc, #ebf0f5);
	 background-image: linear-gradient(top, #f5f9fc, #ebf0f5);
 }
.progress-bar {
	 position:absolute;
	 bottom:0px;
	 left:-1px;
	 margin:auto;
	 height: 5px;
	 width:982px;
	 background: #9EA0A3;
	 -webkit-box-shadow: inset 0 2px 0 0 #6f7173;
	 box-shadow: inset 0 2px 0 0 #6f7173;
 }
 .progress-bar .bar {
	 height: 100%;
	 width: 7%;
	 background: #00aafc;
	 -webkit-box-shadow: inset 0 1px 0 0 #09dbff;
	 box-shadow: inset 0 1px 0 0 #09dbff;
 }
 .progress-bar .full {
	width:100%;
 }
 .progress-bar .grad {
	 width: 65px;
	 height: 100%;
	 float: right;
	 -webkit-box-shadow: inset 0 1px 0 0 #09dbff;
	 box-shadow: inset 0 1px 0 0 #09dbff;
	 background-color: #00aafc;
	 background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#00aafc), to(#00f9fd));
	 background-image: -webkit-linear-gradient(left, #00aafc, #00f9fd);
	 background-image: -moz-linear-gradient(left, #00aafc, #00f9fd);
	 background-image: -ms-linear-gradient(left, #00aafc, #00f9fd);
	 background-image: -o-linear-gradient(left, #00aafc, #00f9fd);
	 background-image:	linear-gradient(left, #00aafc, #00f9fd);
	 filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorStr='#00aafc', EndColorStr='#00f9fd' );
 }
 .progress-bar .flare {
	 float: right;
	 background: #fff;
	 height: 3px;
	 width: 8px;
	 -webkit-box-shadow: 0 0 12px 2px #fff;
	 box-shadow: 0 0 12px 2px #fff;
	 border: 1px solid #2bffff;
 }
#box form{
	 width:980px;
 }
#box form fieldset {
	margin-bottom:30px !important;
	margin: 0 auto;
	padding: 30px 0;
	width: 392px;
}
#box form fieldset label {
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin: 15px 0 2px;
	position: relative;
}

#box form fieldset input[type="text"],#box form fieldset input[type="password"], select {
	display: block;
	width: 352px;
	height: 32px;
	margin: 0;
	padding: 1px 30px 0px 6px;
	position: relative;
	z-index: 0;
	font-size: 16px;
}
#box input[type="text"].error,#box input[type="password"].error, select.error {
	color: #BD2727;
	border-color: #E48181;
	background: #FFEBEB;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F7E4E4), to(#FFEBEB));
	background-image: -webkit-linear-gradient(top, #F7E4E4, #FFEBEB);
	background-image: -moz-linear-gradient(top, #F7E4E4, #FFEBEB);
	background-image: -ms-linear-gradient(top, #F7E4E4, #FFEBEB);
	background-image: -o-linear-gradient(top, #F7E4E4, #FFEBEB);
	background-image: linear-gradient(top, #F7E4E4, #FFEBEB);
}
#box input[type="text"], input[type="password"], input[type="email"], select, textarea {
	outline: none;
	padding: 8px;
	color: #5C5E61;
	font: normal normal normal 21px/21px Arial, sans-serif;
	border: 1px solid #BFC3C7;
	background-color: #F5F6F9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F6F9), to(#F9FBFD));
	background-image: -webkit-linear-gradient(top, #F5F6F9, #F9FBFD);
	background-image: -moz-linear-gradient(top, #F5F6F9, #F9FBFD);
	background-image: -ms-linear-gradient(top, #F5F6F9, #F9FBFD);
	background-image: -o-linear-gradient(top, #F5F6F9, #F9FBFD);
	background-image: linear-gradient(top, #F5F6F9, #F9FBFD);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f6f9', EndColorStr='#f9fbfd');
	-moz-box-shadow: 0px 1px 0px white;
	-webkit-box-shadow: 0px 1px 0px white;
	box-shadow: 0px 1px 0px white;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

#box form fieldset select{
	margin: 0;
	padding: 6px;
	position: relative;
	z-index: 0;
	font-size: 16px;
	
}

#sign-up-frm fieldset select#gender{
	width:390px;
	height:35px;
	padding-right:30px;
	font-size: 16px !important;
}

div.pwd_strength {
	clear: both;
	width: 390px;
	margin-bottom: 0;
	padding: 0;
	margin: 4px 0 10px;
	font-size: 11px;
}
em.strength_text {
	font-style: normal;
	padding: 0 0 0 10px;
}
div.strength_meter {
	height: 8px;
	background: #E0E6EB;
	margin: 5px 0 0;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-moz-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, .1);
	-webkit-box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, .1);
	box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, .1);
}
div.strength_meter_inner {
	height: 8px;
	width: 0%;
	border-radius: 2px;
	-moz-border-radius: 2px;
	background: transparent;
}
div.pwd_strength.weak div.strength_meter_inner {
	background: red;
	width: 25%;
}
div.pwd_strength.fair div.strength_meter_inner {
	background: orange;
	width: 50%;
}
div.pwd_strength.good div.strength_meter_inner {
	background: dodgerBlue;
	width: 75%;
}
div.pwd_strength.strong div.strength_meter_inner {
	background: forestGreen;
	width: 100%;
}

.cf {
	position:relative;
}
.field_confirm.valid {
	background: url(../images/icons/check-green-circle.png) center no-repeat;
}
.field_confirm.invalid {
	background: url(../images/icons/x-red-circle.png) center no-repeat;
}
.field_confirm {
	position: absolute;
	right: 11px;
	top: 11px;
	width: 15px;
	height: 16px;
	z-index: 4;
}
.tooltip.error-tip {
	padding-left: 30px;
}
.field_notvalid {
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: 12px;
	width: 220px;
}
form .tooltip::before {
	content: "";
	font-size: 0px;
	line-height: 0%;
	width: 9px;
	height: 19px;
	position: absolute;
	left: -9px;
	top: 50%;
	margin: -9px 0 0;
	background: url(../images/tooltip-pointers-light.png) 0 center no-repeat;
}
form .tooltip.error-tip:after {
	content: "";
	font-size: 0px;
	line-height: 0%;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 8px;
	top: 8px;
	margin: 0;
	background: url(../images/icons/warning-triangle.png) center no-repeat;
}
form .tooltip.chk-tip:after {
	content: "";
	font-size: 0px;
	line-height: 0%;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 8px;
	top: 8px;
	margin: 0;
	background: url(../images/icons/load.gif) center no-repeat;
}
#footer{
	clear: both;
	margin-top:25px !important;
	height: 135px;
	background: #E4E8EC;
	border-top: 1px solid #D3D7DC;
	font-size: 11px;
	z-index: 10;
	-moz-box-shadow: 0px 1px 0px #dadee3;
	-webkit-box-shadow: 0px 1px 0px #dadee3;
	box-shadow: 0px 1px 0px #dadee3;
}
#box form fieldset input[type="text"]:focus, #box form fieldset input[type="password"]:focus, #box form fieldset input[type="email"]:focus, #box form fieldset select:focus { 
	background: white;
	color: black;
	-moz-box-shadow: 0px 0px 5px rgba(0, 148, 255, 0.7);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 148, 255, 0.7);
	box-shadow: 0px 0px 5px rgba(0, 148, 255, 0.7);
} 
#box form fieldset input[type="text"].error:focus, #box form fieldset input[type="password"].error:focus, #box form fieldset input[type="email"].error:focus,#box form fieldset select.error:focus { 
	background: white;
	-moz-box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.3);
	box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.3);
}